{{define "content"}}
<div class="container">
        <div class='row'>
                <div class='col'>

                </div>
                <div class='col'>
                        <form action='/login' method="POST">
                                <div class='form-group'>
                                        <label for='emailEntry'>Email</label>
                                        <input type='text' class='form-control' name='email' />
                                </div>
                                <div class="form-group">
                                        <label for='passwordEntry'>Password</label>
                                        <input type='password' class="form-control" name='password' />
                                </div>
                                <input type='submit' class='btn btn-primary' value='Login' style='float: right;'/>
                        </form>           
                </div>
                <div class='col'>
                        
                </div>
        </div>   
</div>
{{end}}